/* Root variables https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --color-black: #111111;
    --color-light-grey: #f0f0f0;
    --color-dark-grey: #999999;
    --color-highlight: #85144b;
    --color-dark-highlight: #420a25;
    --color-slides: #ececec;
    --measurement: 2px;
}

/* Basic Font Setup */
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: var(--color-black);
    font-size: 18px;
}
.container {
    min-height:100%;
    padding-top: 8px;
}

a {
    color: var(--color-highlight);
}
a:hover {
    color: var(--color-dark-highlight)
}

p {
    line-height: 22px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

.col-xs-12 {
    width: 100%;
}

/* Change Boostrap Container Width */
@media (min-width: 544px) {
    .container {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
        max-width: 1400px;
    }
}



/* Nav Bar */

.navbar{
    display: block;
    border-bottom: 3px var(--color-dark-grey) solid;
}

.nav-links {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
}


.nav-links li {
    padding: 12px 0;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .nav-links li {
        display: inline-block;
        padding: 0 12px; 
    }
}

.nav-links li a{
    color: var(--color-highlight);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.nav-links li a:hover {
    color: var(--color-dark-highlight);
}
.nav-links li.in {
    color: var(--color-dark-highlight);
}
.nav-links li.in a {
    color: var(--color-dark-highlight);
}


/* Helper Classes */

.spacer-top-72 {
    margin-top: 72px;
}
.spacer-top-36 {
    margin-top: 36px;
}
.spacer-top-18 {
    margin-top: 36px;
} 
.spacer-bottom-36 {
    margin-bottom: 36px;
}
.divider-top {
    border-top: 3px var(--color-light-grey) solid;
    padding-top: 18px;
}

.two-column-left {
    padding-right: 18px;
    border-right: 2px var(--color-light-grey) solid;
}
.two-column-right {
    padding-left: 18px;
}


/* Front Page */

.front-name {
    font-size: 24px; 
    font-weight: bold;
}
.front-links {
    margin-top: 14px;
    font-size: 16px;
}
.front-title {
    font-size: 16px;
}

.list-item {
    margin-top: 48px;
}

/* Research */

.research-item {
    margin-bottom: 24px;
}
.research-item a{
}
.research-journal {
    color: var(--color-dark-grey);
    font-weight: bold;
}
.research-coauthors {
    font-style: italic;
}

/* Events */
.event {
    margin-bottom: 96px;
}

/* Teaching */
.class {
    margin-bottom: 48px;
}

/* Popular Press */
.press {
    margin-bottom: 48px;
}






